



<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>


<div class="container">
    <h1>Afficher détail  Absence</h1>
  
    <a href="#" routerLink="/Absence/index" class="btn btn-primary">Retour</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ Absence.id }}</p>
    </div>
   
    <div>
        <strong>duree:</strong>
        <p>{{ Absence.duree }}</p>
    </div>
   
    <div>
        <strong>dateabsence:</strong>
        <p>{{ Absence.dateabsence }}</p>
    </div>
   
</div>