










<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>




<div class="container">
    <h1>Créer Nouveau Post</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Retour</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="id">id:</label>
            <input 
                formControlName="id"
                id="id" 
                type="text" 
                class="form-control">
            <div *ngIf="f['id'].touched && f['id'].invalid" class="alert alert-danger">
                <div *ngIf="f['id'].errors && f['id'].errors['required']">id is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="nom">Title:</label>
            <input 
                formControlName="nom"
                id="nom" 
                type="text" 
                class="form-control">
            <div *ngIf="f['nom'].touched && f['nom'].invalid" class="alert alert-danger">
                <div *ngIf="f['nom'].errors && f['nom'].errors['required']">Title is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="prenom">Title:</label>
            <input 
                formControlName="prenom"
                id="prenom" 
                type="text" 
                class="form-control">
            <div *ngIf="f['prenom'].touched && f['prenom'].invalid" class="alert alert-danger">
                <div *ngIf="f['prenom'].errors && f['prenom'].errors['required']">Title is required.</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="mdp">Title:</label>
            <input 
                formControlName="mdp"
                id="mdp" 
                type="text" 
                class="form-control">
            <div *ngIf="f['mdp'].touched && f['mdp'].invalid" class="alert alert-danger">
                <div *ngIf="f['mdp'].errors && f['mdp'].errors['required']">Title is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="mdp">Title:</label>
            <input 
                formControlName="datecreation"
                id="datecreation" 
                type="text" 
                class="form-control">
            <div *ngIf="f['datecreation'].touched && f['datecreation'].invalid" class="alert alert-danger">
                <div *ngIf="f['datecreation'].errors && f['datecreation'].errors['required']">Title is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="statut">Title:</label>
            <input 
                formControlName="statut"
                id="mdp" 
                type="text" 
                class="form-control">
            <div *ngIf="f['statut'].touched && f['statut'].invalid" class="alert alert-danger">
                <div *ngIf="f['statut'].errors && f['statut'].errors['required']">Title is required.</div>
            </div>
        </div>

       
  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Valider Opération</button>
    </form>
</div>