






<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>


<div class="container">
    <h1>Afficher détail  Groupe</h1>
  
    <a href="#" routerLink="/Groupe/index" class="btn btn-primary">Retour</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ Groupe.id }}</p>
    </div>
   
    <div>
        <strong>nom:</strong>
        <p>{{ Groupe.nom }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ Groupe.description }}</p>
    </div>
   
    <div>
        <strong>categorie:</strong>
        <p>{{ Groupe.categorie }}</p>
    </div>

    <div>
        <strong>datecreation:</strong>
        <p>{{ Groupe.datecreation }}</p>
    </div>

    <div>
        <strong>date  modifcation:</strong>
        <p>{{ Groupe.datemodifcation }}</p>
    </div>
</div>