


<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>


<div class="container">
    <h1>Afficher détail  Profil</h1>
  
    <a href="#" routerLink="/Profil/index" class="btn btn-primary">Retour</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ Profil.id }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ Profil.description }}</p>
    </div>
   
    <div>
        <strong>etat:</strong>
        <p>{{ Profil.etat }}</p>
    </div>
   
</div>