


<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>


<div class="container">
    <h1>Afficher détail  Projet</h1>
  
    <a href="#" routerLink="/Projet/index" class="btn btn-primary">Retour</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ Projet.id }}</p>
    </div>
   
    <div>
        <strong>nom:</strong>
        <p>{{ Projet.nom }}</p>
    </div>
   
    <div>
        <strong>budget:</strong>
        <p>{{ Projet.budget }}</p>
    </div>

    <div>
        <strong>priorite:</strong>
        <p>{{ Projet.priorite }}</p>
    </div>


    <div>
        <strong>datedebut:</strong>
        <p>{{ Projet.datedebut }}</p>
    </div>

    <div>
        <strong>datefin:</strong>
        <p>{{ Projet.datefin }}</p>
    </div>


    <div>
        <strong>datecreation:</strong>
        <p>{{ Projet.datecreation }}</p>
    </div>

   
</div>