










<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>




<div class="container">
    <h1>Créer Nouveau Projet</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Retour</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="nom">id:</label>
            <input 
                formControlName="nom"
                id="nom" 
                type="text" 
                class="form-control">
            <div *ngIf="f['nom'].touched && f['nom'].invalid" class="alert alert-danger">
                <div *ngIf="f['nom'].errors && f['nom'].errors['required']">id is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="budget">Title:</label>
            <input 
                formControlName="budget"
                id="budget" 
                type="text" 
                class="form-control">
            <div *ngIf="f['budget'].touched && f['budget'].invalid" class="alert alert-danger">
                <div *ngIf="f['budget'].errors && f['budget'].errors['required']">Title is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="priorite">Title:</label>
            <input 
                formControlName="priorite"
                id="priorite" 
                type="text" 
                class="form-control">
            <div *ngIf="f['priorite'].touched && f['priorite'].invalid" class="alert alert-danger">
                <div *ngIf="f['priorite'].errors && f['priorite'].errors['required']">Title is required.</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="datedebut">Title:</label>
            <input 
                formControlName="datedebut"
                id="datedebut" 
                type="text" 
                class="form-control">
            <div *ngIf="f['datedebut'].touched && f['datedebut'].invalid" class="alert alert-danger">
                <div *ngIf="f['datedebut'].errors && f['datedebut'].errors['required']">Title is required.</div>
            </div>
        </div>

        
        <div class="form-group">
            <label for="datefin">Title:</label>
            <input 
                formControlName="datefin"
                id="datefin" 
                type="text" 
                class="form-control">
            <div *ngIf="f['datefin'].touched && f['datefin'].invalid" class="alert alert-danger">
                <div *ngIf="f['datefin'].errors && f['datefin'].errors['required']">Title is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="datecreation">Title:</label>
            <input 
                formControlName="datecreation"
                id="datecreation" 
                type="text" 
                class="form-control">
            <div *ngIf="f['datecreation'].touched && f['datecreation'].invalid" class="alert alert-danger">
                <div *ngIf="f['datecreation'].errors && f['datecreation'].errors['required']">Title is required.</div>
            </div>
        </div>

  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Valider Opération</button>
    </form>
</div>