










<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>




<div class="container">
    <h1>Créer Nouveau Avancement tâche</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Retour</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="idAtache">id:</label>
            <input 
                formControlName="idAtache"
                id="idAtache" 
                type="text" 
                class="form-control">
            <div *ngIf="f['idAtache'].touched && f['idAtache'].invalid" class="alert alert-danger">
                <div *ngIf="f['idAtache'].errors && f['idAtache'].errors['required']">id is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Title:</label>
            <input 
                formControlName="description"
                id="description" 
                type="text" 
                class="form-control">
            <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
                <div *ngIf="f['description'].errors && f['description'].errors['required']">Title is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="qualité">Title:</label>
            <input 
                formControlName="qualité"
                id="duree" 
                type="text" 
                class="form-control">
            <div *ngIf="f['qualité'].touched && f['qualité'].invalid" class="alert alert-danger">
                <div *ngIf="f['qualité'].errors && f['qualité'].errors['required']">Title is required.</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="etat">Title:</label>
            <input 
                formControlName="etat"
                id="etat" 
                type="text" 
                class="form-control">
            <div *ngIf="f['etat'].touched && f['etat'].invalid" class="alert alert-danger">
                <div *ngIf="f['etat'].errors && f['etat'].errors['required']">Title is required.</div>
            </div>
        </div>

  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Valider Opération</button>
    </form>
</div>