





<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>




<div class="container">
    <h1>Créer Nouveau Groupe</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Retour</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="id">id:</label>
            <input 
                formControlName="id"
                id="id" 
                type="text" 
                class="form-control">
            <div *ngIf="f['id'].touched && f['id'].invalid" class="alert alert-danger">
                <div *ngIf="f['id'].errors && f['id'].errors['required']">id is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Title:</label>
            <input 
                formControlName="description"
                id="description" 
                type="text" 
                class="form-control">
            <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
                <div *ngIf="f['description'].errors && f['description'].errors['required']">Title is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="categorie">Title:</label>
            <input 
                formControlName="categorie"
                id="categorie" 
                type="text" 
                class="form-control">
            <div *ngIf="f['categorie'].touched && f['categorie'].invalid" class="alert alert-danger">
                <div *ngIf="f['categorie'].errors && f['categorie'].errors['required']">Title is required.</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="datecreation">Title:</label>
            <input 
                formControlName="datecreation"
                id="datecreation" 
                type="text" 
                class="form-control">
            <div *ngIf="f['datecreation'].touched && f['datecreation'].invalid" class="alert alert-danger">
                <div *ngIf="f['datecreation'].errors && f['datecreation'].errors['required']">Title is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="datemodifcation">Title:</label>
            <input 
                formControlName="datemodifcation"
                id="datemodifcation" 
                type="text" 
                class="form-control">
            <div *ngIf="f['datemodifcation'].touched && f['datemodifcation'].invalid" class="alert alert-danger">
                <div *ngIf="f['datemodifcation'].errors && f['datemodifcation'].errors['required']">Title is required.</div>
            </div>
        </div>



  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Valider Opération</button>
    </form>
</div>