





<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>


<div class="container">
    <h1>Afficher détail  Avancementprojet</h1>
  
    <a href="#" routerLink="/Avancementprojet/index" class="btn btn-primary">Retour</a>
   
    <div>
        <strong>idprojet:</strong>
        <p>{{ Avancementprojet.idprojet }}</p>
    </div>
   
    <div>
        <strong>Tache:</strong>
        <p>{{ Avancementprojet.Tache }}</p>
    </div>
   
    <div>
        <strong>responsable:</strong>
        <p>{{ Avancementprojet.responsable }}</p>
    </div>

    <div>
        <strong>Datedebut:</strong>
        <p>{{ Avancementprojet.Datedebut }}</p>
    </div>

    <div>
        <strong>Datefinprevue:</strong>
        <p>{{ Avancementprojet.Datefinprevue }}</p>
    </div>

    <div>
        <strong>Datefinreelle:</strong>
        <p>{{ Avancementprojet.Datefinreelle }}</p>
    </div>

    <div>
        <strong>progression:</strong>
        <p>{{ Avancementprojet.progression }}</p>
    </div>
   
</div>