





<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>


<div class="container">
    <h1>Afficher détail  Notification</h1>
  
    <a href="#" routerLink="/Notification/index" class="btn btn-primary">Retour</a>
   
    <div>
        <strong>id notif:</strong>
        <p>{{ Notification.idnotif }}</p>
    </div>
   
    <div>
        <strong>sujet:</strong>
        <p>{{ Notification.sujet }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ Notification.description }}</p>
    </div>

    <div>
        <strong>date creation:</strong>
        <p>{{ Notification.datecreation }}</p>
    </div>
   
</div>