


<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>


<div class="container">
    <h1>Afficher détail  Affectationgroupe</h1>
  
    <a href="#" routerLink="/Affectationgroupe/index" class="btn btn-primary">Retour</a>
   
    <div>
        <strong>idgroup:</strong>
        <p>{{ Affectationgroupe.idgroup }}</p>
    </div>
   
    <div>
        <strong>nomgroupe:</strong>
        <p>{{ Affectationgroupe.nomgroupe }}</p>
    </div>
   
    <div>
        <strong>membres:</strong>
        <p>{{ Affectationgroupe.membres }}</p>
    </div>

    <div>
        <strong>responsablegroupe:</strong>
        <p>{{ Affectationgroupe.responsablegroupe }}</p>
    </div>

    <div>
        <strong>objectifs:</strong>
        <p>{{ Affectationgroupe.objectifs }}</p>
    </div>
   
</div>
