



<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>


<div class="container">
    <h1>Afficher détail  Conge</h1>
  
    <a href="#" routerLink="/Conge/index" class="btn btn-primary">Retour</a>
   
    <div>
        <strong>description:</strong>
        <p>{{ Conge.description }}</p>
    </div>
   
    <div>
        <strong>datesortie:</strong>
        <p>{{ Conge.datesortie }}</p>
    </div>
   
    <div>
        <strong>dateretour:</strong>
        <p>{{ Conge.dateretour }}</p>
    </div>

    <div>
        <strong>etat:</strong>
        <p>{{ Conge.etat }}</p>
    </div>

   
   
</div>