






<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<app-adminfooter></app-adminfooter>


<div class="container">
    <h1>Afficher détail  Avancementtache</h1>
  
    <a href="#" routerLink="/Avancementtache/index" class="btn btn-primary">Retour</a>
   
    <div>
        <strong>idAtache:</strong>
        <p>{{ Avancementtache.idAtache }}</p>
    </div>
   
    <div>
        <strong>description:</strong>
        <p>{{ Avancementtache.description }}</p>
    </div>
   
    <div>
        <strong>qualite:</strong>
        <p>{{ Avancementtache.qualite }}</p>
    </div>

    <div>
        <strong>etat:</strong>
        <p>{{ Avancementtache.etat }}</p>
    </div>
   
</div>
